.container {
    max-width: 70%;
    margin: 0 auto;
}

@keyframes deleteItem {
    from {
        height: 100px;
    }
    to {
        height: 0;

    }
}

.delete {
    animation: deleteItem .2s linear forwards;
}

@media (max-width: 1200px) {
    .container {
        max-width: 95%;
    }
}

.descriptionWrap {
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 2rem;
}

.balanceWrap, .cryptoBalanceWrap {
    display: flex;
    font-size: 36px;
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
    font-weight: 700;
}

.cryptoBalanceWrap {
    font-size: 28px;
    font-weight: 400;
}

.cryptoBalanceText {
    margin-right: 1rem;
}

@media (max-width: 780px) {
    .balanceWrap {
        font-size: 32px;
    }
    .cryptoBalanceWrap {
        font-size: 18px;
    }
}

.percents {
    padding: 1.5rem .5rem;
    font-size: 22px;
    margin-left: 1rem;
    font-weight: 400;
}


@media (max-width: 780px) {
    .percents {
        padding: .5rem;
        font-size: 14px;
    }
}

@media (max-width: 780px) {
    .balanceWrap {
        font-size: 24px;
    }
}

.balanceText {
    margin-right: 10px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    opacity: 0.5;
}
@media (max-width: 780px) {
    h1 {
        font-size: 22px;
    }
}


h2 {
    font-size: 16px;
    text-align: center;
    line-height: 3;
    opacity: 0.5;
}

@media (max-width: 780px) {
    h2 {
        font-size: 14px;
    }
}

h2 a {
    font-style: italic;
    text-decoration: underline;
}

h2 a:hover {
    text-decoration: none;
}


.wrapDescription {
    border-bottom: 1px solid #3f4a56;
    margin-top: 2rem;
}
