.popUp {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 21, 21, 0.51);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
}

.popUp.active {
    opacity: 1;
    pointer-events: all;
}

.popUpContent {
    padding: 10px;
    margin-bottom: 10rem;
    margin-right: 1rem;
    border-radius: 15px;
    background-color: #1e2c3b;
    transform: scale(0);
    transition: .3s;
}

.popUpContent.active {
    transform: scale(1);
}

@media (max-width: 780px) {
    .popUpContent {
        max-width: 90vw;
        margin: 0;
    }
}


.textWrap {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: .5px;
    margin-bottom: 2rem;
}

@media (max-width: 780px) {
    .textWrap {
        font-size: 16px;
    }
}

.flexSpace {
    display: flex;
    justify-content: space-between;
}

.buttonWrap {
    width: 40%;
}