.container {
    margin: 10px;
}

.cardWrap {
    position: relative;
    margin: 0 auto;
    min-width: 400px;
    min-height: 150px;
    background-color: #303942;
    transition: .5s;
    transition-duration: 100ms;
    transition-timing-function: linear;
    padding: 1rem;
    border-radius: 15px;
}
@media (max-width: 1200px) {
    .cardWrap {
        min-width: 350px;
    }
}

@media (max-width: 780px) {
    .cardWrap {
        min-width: 300px;
    }
}

.cardWrap:hover {
    box-shadow: 0 0 30px 1px #346da6;
    transform: translateY(-5px);
    color: #4fc180;
}

span {
    font-family: 'Roboto', sans-serif;
}

.rank {
    color: #555c62;
    margin: 0 1rem 1rem 0;

}

.symbol {
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 1rem 1rem 0;
}

.price, .changePercent, .internalTitle {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #d6f6ff;
}

.changePercent {
    text-align: right;
}

.internal Title {
    letter-spacing: 1px;
    font-weight: 700;
    margin-right: 1rem;
}

.chartWrap {
    width: 100%;
    max-height: 40%;
    margin-top: 1rem;
}



