.container {
    margin: 1rem;
}
@media (max-width: 780px) {
    .container {
        min-width: 260px;
    }
}


.cardWrap {
    position: relative;
    min-width: 400px;
    min-height: 150px;
    background-color: #303942;
    transition: .5s;
    transition-duration: 100ms;
    transition-timing-function: linear;
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}
@media (max-width: 1200px) {
    .cardWrap {
        /*min-width: 350px;*/
    }
}

@media (max-width: 780px) {
    .cardWrap {
        min-width: 250px;
    }
}

span {
    font-family: 'Roboto', sans-serif;
}

.rank {
    color: #555c62;
    margin: 0 0 1rem 1rem;

}

.symbol, .price {
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0rem 1rem 0;
}

.price {
    margin-left: auto;
}

.titleWrap {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-bottom: 1rem;
}

@media (max-width: 780px) {
    .titleWrap {
        font-size: 16px;
    }
}

.formInternalContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

@media (max-width: 780px) {
    .formInternalContainer {
        display: block;
    }
}

@media (max-width: 780px) {
    .totalPriceWrap {
        margin-top: 1rem;
    }
}

.totalPriceWrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    line-height: 1.5;
}

.totalPriceTitle {
    font-size: 16px;
    letter-spacing: 1px;
    margin-right: 0.5rem;
}

.totalPrice {
    font-size: 16px;
}


.changePercent, .internalTitle, .supply {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #ecfbff;
    margin-bottom: 5px;
}

@media (max-width: 780px) {
    .supply {
        font-size: 14px;
    }
}

.internalTitle {
    font-weight: 700;
    margin-right: 1rem;
}

.alignLeft {
    text-align: left;
}

.chartWrap {
    width: 100%;
    max-height: 40%;
    margin-top: 1rem;
}

.internalTitle.supply {
    font-weight: 400;
}

.btnWrap, .twoBtnsWrap {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.btnWrap {
    justify-content: center;
}

.twoBtnsWrap {
    justify-content: space-between;
}

.btn {
    width: 60%;
    display: flex;
    justify-content: center;
}

@media (max-width: 780px) {
    .btn {
        width: 80%;
    }
}

.smallBtn {
    width: 40%;
    display: flex;
    justify-content: center;
}