.titleWrap {
    display: flex;
    align-items: center;
}

.title, .symbol {
    cursor: pointer;
}

.number {
    font-size: 14px;
}
@media (max-width: 780px) {
    .number {
        font-size: 16px;
    }
}


.hidden {
    display: none;
}

.marketCap {
    color: #95a0a6;
}

.alreadyFavourite {
    color: yellow;
}

.favourite, .alreadyFavourite {
    cursor: pointer;
    font-size: 20px;
    transition: .3s;
    transition-timing-function: linear;
    user-select: none;
    margin-right: 2rem;
    background-color: transparent;
}

.favourite, .alreadyFavourite :focus {
    outline: none;
}

.btnFavourite {
    display: flex;
    justify-content: center;
    align-items: center;

}

.favourite {
    color: #375f86;
}

.favourite:hover, .favourite:focus {
    color: #79b4ee;
}

.alreadyFavourite:hover,.alreadyFavourite:focus {
    color: #ff8000;
}