.tableWrap {
    margin: 0 auto;
    max-width: 1400px;
}

@media (max-width: 1200px) {head
    .tableWrap {
        max-width: 1000px;
    }
}

@media (max-width: 767px) {
    .tableWrap {
        max-width: 100%;
    }
    .container {
        max-width: 97%;
        overflow-x: scroll;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    white-space: normal;
}

@media (max-width: 780px) {
    tbody td:nth-child(2) {
        background-color: #212529;
        position: sticky;
        left: -1px;
        z-index: 100;
    }
}


th, td {
    padding: 0.5rem 1rem;
}

tr {
    border-bottom: 1px solid #33373f;
    line-height: 2rem;
}
@media (max-width: 780px) {
    tr {
        line-height: 2rem;
    }
}

@media (min-width: 1400px) {
    tbody tr:hover{
        background: rgba(249, 252, 255, 0.06);
    }
}




.theadStyle {
    height: 3rem;
    font-size: 12px;
}

@media (max-width: 780px) {
    .theadStyle{
        font-size: 14px;
        height: 5rem;
    }
}

thead th:nth-child(1) {
    width: 7%;
    text-align: right;
}

@media (max-width: 780px) {
    thead th:nth-child(1){
        max-width: 50px;
    }
}

thead th:nth-child(1), th:nth-child(2) {
    text-align: left;
}
thead th:nth-child(2) {
    padding-left: 4.2rem;
}


thead th:nth-child(3), th:nth-child(4), th:nth-child(5), th:nth-child(6),th:nth-child(7),
tbody td:nth-child(3), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
    text-align: right;
}

